#{extends 'admin.html' /}
#{set title:'Home' /}

<table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	<a href=@{AdminControllerMap.country}>
                        		<img src="/public/img/checkorder.png" alt="Check Orders" title="Check Orders"   />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.checkorder}><h2>Country</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{AdminControllerMap.stateaction()}>
                        		<img src="/public/img/placeorder.png" alt="Place Orders" title="Place Orders"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>State</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{DealerControllerMap.checkapplications}>
                        		<img src="/public/img/application.png" alt="Check Application" title="Check Application"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.checkapplications}><h2>City</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        
    	
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/orderstatus.png" alt="Set Order Status" title="Set Order Status"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Gas Cylinder</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
		</tr>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/report.png" alt="Generate Report" title="Generate Report "  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Generate Report</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/edit.png" alt="Edit Account" title="Edit Account"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Customer</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
			<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/edit.png" alt="Edit Account" title="Edit Account"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Dealer</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
			<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/edit.png" alt="Edit Account" title="Edit Account"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Orders</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>        
    </table>
    </div>
</div>


	