#{extends 'admin.html' /}
#{set title:'Account' /}


<div class="content">

				<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><a href="#">Admin</a><span>>></span><strong>State</strong>
            </div>
        </div>
        <div class="login">
        	<div class="width">
            	<h2>State</h2>	
                <div class="cols">
                    <div class="mnu">
                    	<h4>admin name</h4>
                     </div>
					<div class="mnu">
						
                        	<div class="fltL">
                            	
	                      <table class="gradeX ">
							<tr>
								<th>State Name</th><td>&nbsp;</td>
								<th>State Id</th><td>&nbsp;</td>
								</th>
							
#{ list items:state, as:'stat'}
							<tr>
							<td><a href="StateController.deleteState(stat)">
							  ${stat.statename}</a></td>
							  <td>&nbsp;&nbsp;&nbsp;&nbsp;${stat.stateId}</td>
							 </tr>
<table>							 
		                  </div>
	#{/list}		<div class="cls">
					</div>
                    
				</div>
                </div>
                <div class="col300">
                	
                </div>
				<input type="reset" name="reset" value="Reset" />
				<input type="submit" name="reset" value="Submit" />
                <div class="cls"></div>
            </div>
        </div>
        
    </div>
    

					</div>
					
					
					<!-- To validate form (Intimation for giving proper username and password)-->
					<script>

					function validate()
					{
							var value1= document.getElementById('userName')
						if(value1.value=="")
							{
							alert ("Please enter User Name")
							return false
							}
						if (value1.value.indexOf("@")==-1)
							{
							alert("It seems you entered an invalid email address.")
							return false
							}

							var value2= document.getElementById('password')
						if(value2.value=="")
							{
							alert ("Please enter Password")
							return false
							}
					}
					
					

</script>
                    
        
 
   






  