#{extends 'user.html' /}
#{set title:'Accessories' /}

<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><strong>Accessories</strong>
            </div>
        </div>
        <div class="check">
        	<div class="width">
            	<h2 style="margin-bottom:40px;">Accessories</h2>
            	<div class="cls"></div>
								
<div id="leftpanel">

    <h3 class="heading1">Accessories</h3>
    <h3 class="heading1">Please Click the Accessories to Order it</h3>

    <div class="panel padding 50px">
    <table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center" style="padding-top:50px;">
    	<tr>
        	<td align="center">
            	<table align="center">

                	<tr>
                    	<td>
                				<a href=@{OrderController.accessoriesOrder(pro.id)}>        	
                        		<img src="/public/img/burner.png" alt="Burner Pro" title="Burner Pro"   />
                           		</a> 
                        </td>
                    <tr>
                    	<td align="center">
	                    	<h3>${pro.name},${pro.price}-INR</h3>
	                    		
                        </td>
                    </tr>
                                          </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(stove.id)}>
                        		<img src="/public/img/portstove.png" alt="Portable Stove" title="Portable Stove"  />
                        		</a>
                            
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<h3>${stove.name} , ${stove.price}-INR</h3></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(gas.id)}>
                        		<img src="/public/img/gasstove.png" alt="Gas Stove" title="Gas Stove"  />
                            	</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    		<h3>${gas.name},${gas.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    	<tr>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(reg.id)}>
                        		<img src="/public/img/regulator.png" alt="Regulator" title="Regulator"  />
                        		</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<h3>${reg.name},${reg.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(pet.id)}>
                        		<img src="/public/img/petromax.png" alt="Petromax Cylinder" title="Petromax Cylinder"  />
                        		</a>
                        </td>	
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<h3>${pet.name},${pet.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(auto.id)}>
                        		<img src="/public/img/autostove.png" alt="Automatic Gas Stove" title="Automatic Gas Stove"  />
                            	</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    		<h3>${auto.name},${auto.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
			<tr>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(trad.id)}>
                        		<img src="/public/img/traditionalstove.png" alt="Traditional Stove" title="Traditional Stove"  />
                            	</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    		<h3>${trad.name},${trad.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
			<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(bun.id)}>
                        		<img src="/public/img/bunsen.png" alt="Bunsen Burner" title="Bunsen Burner"  />
                            	</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    		<h3>${bun.name},${bun.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
			<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        		<a href=@{OrderController.accessoriesOrder(hose.id)}>
                        		<img src="/public/img/hose.png" alt="LPG Hose" title="LPG Hose"  />
                            	</a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    <h3>${hose.name},${hose.price}-INR</h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>        
    </table>
    </div>
</div>

            </div>
        </div>
		</html>
        
 