#{extends 'user.html' /}
#{set title:'Home' /}
<div class="content">
<div class="width">

<table  cellpadding="10" cellspacing="60" border="0" bgcolor="#FFFFFF" align="center" style="padding-top:50px;">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	
                        		<img src="/public/img/thumbup.png" />
                            </a>
                        </td>
                    </tr>
                    
                </table>
            </td>
     
    </table>

<div>
<h3><font color="limegreen"><center> Your Order has been BOOKED Successfully!</center></font></h3>

<h2><font color="limegreen"><center>&amp;</center></font></h2>

<h3><font color="limegreen"><center>Awaiting Dealer approval </center></font></h3>
</div>
</div>
</div>
</div>

	</br></br></br></br></br></br>