#{extends 'main.html' /}
#{set title:'Home' /}

  <div class="content">
    <div style="background:url(/public/img/shadBg2.png) no-repeat center bottom;">
      <div class="minimal-slider banner">
        <ul>
          <li>
            <div class="slider-img"> <a href="#"><img src="/public/img/slide1.jpg" alt="" /></a></div>
            <div class="desp slider-texts">
              <h2>Domestic</h2>
              <h3>Cylinder</h3>
              <p> Domestic cylinder it is!<a href="#">Read More &gt;&gt;></a> <span class="fltL"> <strong>393 INR</strong>  
            </div>
          </li>
          <li>
            <div class="slider-img"> <a href="#"><img src="/public/img/slide2.jpg" alt="" /></a> </div>
            <div class="desp slider-texts">
              <h2>Commercial</h2>
              <h3>Cylinder</h3>
              <p> Commercial cylinder it is! <a href="#">Read More &gt;&gt;></a> <span class="fltL"> <strong>1,402 INR</strong> 
              
              
            </div>
          </li>
        </ul>
		
        <div class="cls"></div>
      </div>
      <script src="/public/js/easySlider1.7.js" type="text/javascript"></script> 
      <script type="text/javascript"><!--
$(document).ready(function() {
			$('.minimal-slider').easySlider({
          		auto: false,
          		continuous: false,
          		numeric: true 
        	});
});
--></script> 
    </div>
	
	
    <div class="width">
      <div class="featured-categories">
        <div class="featured">
            <h2>Featured Items</h2>
            <ul>
              <li>
                <div class="item first"> <a href="#"><img alt="" src="/public/img/img2.jpg" /></a>
                  <h3>Gas Burner Pro</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item"> <a href="#"><img alt="" src="/public/img/img3.jpg" /></a>
                  <h3>Portable Stove</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item"> <a href="#"><img alt="" src="/public/img/img4.jpg" /></a>
                  <h3>Electric & Gas Stove</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item last"> <a href="#"><img alt="" src="/public/img/img5.jpg" /></a>
                  <h3>Regulator</h3>
                  <span class="price"></span>  </div>
                  
              </li>
              <li>
                <div class="item first"> <a href="#"><img alt="" src="/public/img/img6.jpg" /></a>
                  <h3>Petromax Cylinder</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item"> <a href="#"><img alt="" src="/public/img/img7.jpg" /></a>
                  <h3>Built in Gas Stove</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item"> <a href="#"><img alt="" src="/public/img/img8.jpg" /></a>
                  <h3>Traditional Gas Stove</h3>
                  <span class="price"></span>  </div>
                  
                <div class="item last"> <a href="#"><img alt="" src="/public/img/img9.jpg" /></a>
                  <h3>Bunsen Burner</h3>
                  <span class="price"></span>  </div>
              </li>
            </ul>
            <div class="cls"></div>
          </div>
      </div>
    </div>
  </div>
