#{extends 'main.html' /}
#{set title:'Security Aspects' /}


<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><strong>Security Aspects</strong>
            </div>
        </div>
        <div class="check">
        	<div class="width">
            	<h2 style="margin-bottom:40px;">Safety </h2>
            	
				<div class="cls"></div>
				
				
				
				<p>	<h3>When buying your LPG:</h3></p>

				<p>
                

                	<p><li>Always buy LPG cylinders from IOCL-authorised dealers only. </li></p>

                    <p><li>When the LPG cylinder is delivered to your home, please check to ensure that the Gas seal should be present and intact.</li></p>
					<p><li>Do not accept the cylinder if the seal is broken </li></p>

                
				</br>
				
				
				<p><h3>When cooking with LPG:</h3></p>
					
					
                    

                    <p><li>Keep windows open to ventilate your kitchen. </li></p>

                        <p><li>Do not place flammable or plastic items near the flame. </li></p>

                        <p><li>Turn pan handles away from the flame. </li></p>

                        <p><li>Never leave your cooking unattended. The sauce or liquid in your cooking vessel could overflow and extinguish the burners,&nbsp;causing gas to leak. </li></p>

                    

				</br>

				<p><h3>LPG Maintenance</h3></p>

				
                    

                <p> <li>Always keep the LPG valve / regulator switched off when your gas stove / oven is not in use, especially at night and when going on a holiday. </li></p>

                    <p>    <li>Always store the LPG cylinder in an upright position and away from other combustible and flammable materials. Store no more than one spare LPG cylinder at any given time. </li></p>

                    <p>    <li>Check for gas leaks regularly by applying soap solution on cylinder joints. The appearance of soap bubbles indicates leak points. Do not use open flame to detect leaks. </li></p>

                    <p>    <li>Always replace worn-out or defective tubing and regulators. Half of all gas-related cooking accidents occur due to leakages from the rubber tube.Use only regulators and tubes ISI Mark. </li></p>

                    <p>    <li>Make sure all parts of the installation are in good condition. If you should find anything wrong with any part, contact your distributor immediately and ask for assistance. </li></p>

                    <p>    <li>Never tamper with your LPG cylinder. </li></p>

                    

               


            </div>
        </div>
        
    </div>