#{extends 'user.html' /}
#{set title:'Home' /}

<div class="content">
<div class="width">

<table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center" style="padding-top:50px;">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	<a href=@{UserControllerMap.bookstatus}>
                        		<img src="/public/img/products.png" alt="Local Area" title="Local Area"   />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{UserControllerMap.bookstatus}><h4><font color="darkturquoise">Cylinder Orders</font></h4></a>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{UserControllerMap.accessoriesorderlist}>
                        		<img src="/public/img/status.png" alt="Fresh visitor" title="Fresh visitor"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{UserControllerMap.accessoriesorderlist}><h4><font color="darkturquoise">Accessories</font></h4></a>
                        </td>
                    </tr>
                </table>
            </td>            
        </tr>
    	
              
    </table>
    
    
    </div>
</div>


	