#{extends 'user.html' /}
#{set title:'Home' /}

  <div class="content">
    <div style="background:url(/public/img/shadBg2.png) no-repeat center bottom;">
      <div class="minimal-slider banner">
        <ul>
          <li>
            <div class="slider-img"> <a href="#"><img src="/public/img/slide1.jpg" alt="" /></a></div>
            <div class="desp slider-texts">
              <h2>Domestic</h2>
              <h3>Cylinder</h3>
              <p> Domestic cylinder it is!<a href="#">Read More &gt;&gt;></a> <span class="fltL"> <strong>393 INR</strong>  
            </div>
          </li>
          <li>
            <div class="slider-img"> <a href="#"><img src="/public/img/slide2.jpg" alt="" /></a> </div>
            <div class="desp slider-texts">
              <h2>Commercial</h2>
              <h3>Cylinder</h3>
              <p> Commercial cylinder it is! <a href="#">Read More &gt;&gt;></a> <span class="fltL"> <strong>1,402 INR</strong> 
              
              
            </div>
          </li>
        </ul>
		
        <div class="cls"></div>
      </div>
      <script src="/public/js/easySlider1.7.js" type="text/javascript"></script> 
      <script type="text/javascript"><!--
$(document).ready(function() {
			$('.minimal-slider').easySlider({
          		auto: false,
          		continuous: false,
          		numeric: true 
        	});
});
--></script> 
   
  </div>
