#{extends 'dealer.html' /}
#{set title:'Home' /}

<table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	<a href=@{DealerControllerMap.cylinderorderlist}>
                        		<img src="/public/img/lpgorder.png" alt="LPG Orders" title="LPG Orders"   />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.cylinderorderlist}><h2>LPG Orders</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{DealerControllerMap.accessoriesorderlist}>
                        		<img src="/public/img/accessoryorder.png" alt="Accessories Orders" title="Accessories Orders"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.accessoriesorderlist}><h2>Accessories Orders</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
            
        </tr>
    	<tr>
        	
              
    </table>
    </div>
</div>


	