#{extends 'dealer.html' /}
#{set title:'Home' /}

<table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center" style="padding-top:50px;">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	<a href=@{dealercontrollermap.newconnectionlist}>
                        		<img src="/public/img/newconn.png" alt="New Connection" title="New Connection"   />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{dealercontrollermap.newconnectionlist}><h2>New Connection </h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{dealercontrollermap.locchange}>
                        		<img src="/public/img/lochange.png" alt="Location Change" title="Location Change"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{dealercontrollermap.locchange}><h2>Location Change</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
            
        </tr>
    	<tr>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/queries.png" alt="Technical Support" title="Technical Support"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><h2>Technical Support</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
			<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{dealercontrollermap.dealerprofile}>
                        		<img src="/public/img/home.png" alt="Home" title="Go back"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{dealercontrollermap.dealerprofile}><h2>Home</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>	
              
    </table>
    </div>
</div>


	