
#{extends 'dealer.html' /}
#{set title:'Cylinder Orders' /}

#{if l}
</br>
<div align="center"><h1>Cylinder Orders</h1></div>
</br></br><table align="center" border="0" cellspacing="25px">
  <tr>
    <th><h2>Customer Name</h2></th>
    <th><h2>Order Number #</h2></th>
    <th><h2>Order Type</h2></th>
    <th><h2>Order Unit</h2></th>
    <th><h2>Order Status</h2></th>
  </tr>
  #{list items:l ,as:'l'} 
  <tr>
   	<td><a href="@{DealerControllerMap.setorderstatus(l.id)}">${l.gasConnectionHolder.username}</td>
    <td><a href="@{DealerControllerMap.setorderstatus(l.id)}">${l.ordernumber}</td>
    <td><a href="@{DealerControllerMap.setorderstatus(l.id)}">${l.gasCylinderId.gasCylinderType}</td>
    <td><a href="@{DealerControllerMap.setorderstatus(l.id)}">${l.gasCylinderId.gasCylinderUnit}</td>
     <td><a href="@{DealerControllerMap.setorderstatus(l.id)}">${l.orderstatus}</td>
  </tr>

#{/list}
#{/ if} 

#{else}		<tr>
				<td><h2 align="center">There are no current orders for you to display</h2></td>
#{/else}     </tr>
</table></br></br></br></br></br></br></br></br></br></br></br></br>