#{extends 'dealer.html' /}
#{set title:'Home' /}

<table  cellpadding="10" cellspacing="100" border="0" bgcolor="#FFFFFF" align="center" style="padding-top:50px;">
    	<tr>
		
        	<td align="center">
			
            	<table align="center">
				
                	<tr>
                    	<td>
                        	<a href=@{DealerControllerMap.localchangelist}>
                        		<img src="/public/img/local.png" alt="Local Area" title="Local Area"   />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.localchangelist	}><h2>Local Area</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{DealerControllerMap.locmigrationlist}>
                        		<img src="/public/img/station.png" alt="Fresh visitor" title="Fresh visitor"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{DealerControllerMap.locmigrationlist}><h2>Fresh visitor</h2></a>
                        </td>
                    </tr>
                </table>
            </td>
            
        </tr>
    	
              
    </table>
    </div>
</div>


	