#{extends 'main.html' /}
#{set title:'Oops!' /}

			<tr>
        	<td align="center">
            	<table align="center">
                	<tr>
                    	<td>
                        	<a href=@{application.underconstruct}>
                        		<img src="/public/img/underconstruct.png" alt="Under Construction" title="Under Construction"  />
                            </a>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
	                    	<a href=@{application.underconstruct}><br><Br>
                        </td>
                    </tr>
                </table>
				
        
			</tr><br><br>