#{extends 'main.html' /}
#{set title: 'Dealer'/}
<div class="content">
<div class="width">


<div class="clear" align="center">

	 <div align="center">
    	<table width="100%" border="0" cellspacing="1" cellpadding="3" aligh="center">

			
			<tr valign="top">

              <td>&nbsp;</td>

              <td height="25"><h3>Dealer Details</h3></br></td>

              <td colspan="2" >

			</tr>
			

            <tr valign="top">

              <td>&nbsp;</td></br>

              <h4><td height="25" >Dealer Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${a.title}.${a.firstname} </td></h4>

            </tr>

            <tr valign="top">
            
            
			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">Agency Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ a.agencyname }</td></br></h4>

              <td colspan="2" >

			</tr>

			<tr valign="top">

              <td>&nbsp;</td>

              <td height="25"></br><h3>Location</h3></br></td>

              <td colspan="2" >

			</tr>
			
			<tr>
              <td>&nbsp;</td>

              <h4><td height="25">Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ a.address}</td></h4>

              <td colspan="2" >

			</tr>
			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">LandMark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ a.landmark }</td></h4>

              <td colspan="2" >

						

			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${a.cityId.cityname }</td></h4>

              <td colspan="2" >

			</tr>
			
			
			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">Pincode&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${a.pincode  }</td></h4>

              <td colspan="2" >

			</tr>

			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ a.cityId.stateId.statename }</td></h4>

              <td colspan="2" >

			</tr>
			
			<tr valign="top">

              <td>&nbsp;</td>

              <td height="25"></br><h3>Contact</h3></br></td>

              <td colspan="2" >

			</tr>
		<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ a.phonenumber }</td></h4>

              <td colspan="2" >

			</tr>
			<tr valign="top">

              <td>&nbsp;</td>

              <h4><td height="25">E-Mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${ l.email }</td></h4>

              <td colspan="2" >

			</tr>
			
  
			<tr align="center" valign="top">

              <td colspan="2" align="left">
               <input type="button" value="Print" class="mybutton"  onClick=" window.print(); return false" />
				  #{a @Application.apply()}<input type="submit" name="Apply" value="Apply" onClick=""> #{/a}
				  #{a @Application.searchdealers() }<input type="submit" name="OK" value="OK" onClick="">#{/a}
							 
			</td>

            </tr>	
					    
				
</table></br></br> &nbsp;&nbsp;
			 </div>
</div>
</div>
</div>