#{extends 'main.html' /}
#{set title:'Domestic' /}

<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><strong>Domestic </strong>
            </div>
			
        </div>
        <div class="check">
        	<div class="width">
			
            	<h2 style="margin-bottom:40px;">Domestic </h2>
				<div class="panel padding 50px">
            	<div class="cls"></div>
				<table  cellpadding="10" border="0" bgcolor="#FFFFFF" align="right">
    	<tr>
        	<td align="center">
            	<table align="center">
                        		<img src="/public/img/domestic.png" alt="14.2 KG" title="14.2 KG"   />
				</table></table><br><br>
				<h3>Type 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Specification(s)</h3><br> 
				<h4>1. Small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Net Weight - 2 KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: ${g2.gasCylinderPrice}INR<br><br>
				<h4>2. Medium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Net Weight - 5 KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: ${g5.gasCylinderPrice}INR<br><br>
				3. Large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Net Weight - 14.2 KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: ${g14.gasCylinderPrice}INR<br><br>
				<br><br>
				
				<h4>Domestic LPG is distributed only by public sector Oil marketing companies. LPG for domestic cooking purposes is available in 14.2Kg capacity cylinders. Markets where transporting the 14.2 Kg cylinders are inconvenient, LPG is also marketed in 5Kg cylinders.

				The Liquified Petroleum Gas (LPG), popularly known as cooking gas, is a mixture of hydrocarbons which are gaseous at normal temperature, but can be liquified at moderate pressure, and can be stored in cylinders as a liquid under pressure, and is drawn out and used as gas.</h4><br>
				
				<!-- <a href=@{UserControllerMap.newbook} class="button" ><span><span>Book Now!</span></span></a><br><br><br> -->
                 </br>
                </br></br>
                </br>   

            </div>
        </div>
		</html>
        
