#{extends 'main.html' /}
#{set title:'FAQs' /}

<script type="text/javascript">
	$(document).ready(function() {
		$("#faq_accordion").accordion();
	});
</script>
<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><strong>FAQs</strong>
            </div>
        </div>
        <div class="check faq">
        	<div class="width">
            	<h2 style="margin-bottom:40px;">FAQs</h2>
            	<div class="cls"></div>
				
				<ol>
					<div id="faq_accordion">
						<h3><li>How do i transfer my connection</li></h3>
					
						<div style="padding-left: 20px;">
						<strong>In case you are shifting your residence, you may follow either of the following options :</strong></br></br>
							<ol>
								<li><strong>Within the same distributor's area of operation </strong></br>
								Advise your distributor your new address with supporting proof of residence so that he effects the change in his records and your future supplies shall then be sent to your new place of residence.
								</li>
								
								<li><strong>Within the same town </strong><br />
								In case your present distributor does not service your new place of residence, you may approach your distributor with your original Subscription Voucher (SV). The distributor shall prepare a transfer termination voucher (TTV) for the place of your new residence. You can then approach the nearest Distributor serving your new place of residence along with proof of residence, TTV and DGCC booklet (Domestic gas consumer card) The distributor shall prepare a Transfer Subscription voucher (TSV) against your TTV and shall provide you a new consumer number. These details will be updated in your DGCC booklet, (Domestic gas consumer card)
								In this case of a shift of residence within the same town you are not required to surrender your equipment. Hence you need to carry your domestic cylinder and pressure regulator to your new residence</li>
							
								<li><strong>While getting transferred out of town </strong></br>
								In case you are transferred outside the town, you are required to surrender your equipment viz. cylinder and pressure regulator to your distributor. In such a case, you may approach your distributor with your Subscription Voucher (SV) or Transfer Subscription Voucher (TSV) as the case may be & Domestic Gas Consumer Card (DGCC) along-with your Cylinder/s and Pressure Regulator. The distributor in turn will prepare a Termination Voucher (TV) in your name for your new place and refund the deposit held against the Cylinder/s and Regulator. You will also be guided to the nearest distributor for future service. At the new place you can approach the nearest  distributor for resuming your  supplies.
								</li>
							</ol>
						</div>

						<h3><li>Do I need to buy a hotplate from the LPG distributor only?</li></h3>
						<div>
							<ol>
								<li>It is not compulsory to buy hot plate from the Distributors. A customer can buy BIS approved Stove from any source of his choice. However Distributors are advised to keep high thermal efficiency i.e. fuel saving and better quality LPG Stoves for offering to existing and prospective customers. For availing of a LPG connection, a customer should be in possession of an ISI mark hotplate and rubber tube.</li>
							
								<li>Incase you have an ISI mark hotplate available with you, the distributor shall check it at your premises against a nominal payment (as per the table given above) The distributor has to complete such an inspection within 7 days from the date of such a payment by the customer.</li>
							</ol>
							
						</div>

						<h3><li>  What do I need to check when I receive my refill? </li></h3>
						<div>
							<ol><strong>You may undertake simple checks at the time of your refill receipt</strong></br></br>
								<li>Check the seal of the cylinder</li>
								<li>Check the safety cap. It should not have any cracks</li>
								<li>Remove safety Cap and check for leakage from the valve. Usually in case of any leakage from the Cylinder valve, the safety cap will pop off at the time of removal. This can be further reaffirmed by placing your thumb on the cylinder valve </li>
								<li>Get the new cylinder connected with the hotplate and make sure that no leakage is observed.</li>
								<li> Pay the cash and acknowledge the 2nd copy of the cash memo / refill voucher.</li>
							</ol>
						</div>
						
						<h3><li>  How should I maintain my domestic LPG installation? </li></h3>
						<div>	
							<ol><strong>The following steps may be followed as a part of regular maintenance</strong></br></br>
								<li>Clean the hotplate after each cooking</li>
								<li>Clean the LPG Hose with wet cloth periodically</li>
								<li>Keep the pressure regulator knob closed when not cooking</li>
								<li>Clean up the choked holes of the burner, when it is cooled off</li>
							</ol>
						</div>	
						
						<h3><li>Whom can I contact in case I need some assistance?</li></h3>
						<div>
							For any assistance pertaining to supply of  supplies your distributor is always at your service to help you, however if you desire you may contact our Customer Service Cell or our Officer. At Showroom, name and telephone number of our officer is displayed.
						</div>
					
						<h3><li>Do I have to get my domestic installation checked?</li></h3>
						<div>
							Safety audit of the domestic installations should be carried out once in every two years. Your Indane distributor’s trained mechanic carries out such an audit at your place. You need to pay a nominal charge of Rs. 40 INR to your distributor, for which a cash memo is issued to you. The mechanic carries an identity card with him confirming his identity as an authorized person from your distributor for carrying out such an inspection. case of doubt, you may ask him to identify himself.
						</div>
						
						<h3><li>How do I get a new connection for non-domestic, i.e. commercial/industrial (19 kg cylinder) use?</li></h3>
						<div>
							<ol><strong>In case you intend to have LPG supplies for commercial or Industrial use, you can avail Indane connection in 19 kg or 47.5 kg capacity cylinders. Non-Domestic connections are released at following security deposit rates:</strong></br></br>
								<li>19 kg Cylinder with SC valve Rs. 1700 INR per cylinder</li>
								<li>19 kg Cylinder Rs with LOT valve  3200 INR per cylinder</li>
								<li>47.5 kg Cylinder with SC valve Rs. 4300 INR per cylinder</li>
								<li>47.5 kg Cylinder with LOT valve Rs. 5800 INR per cylinder </li>
								<li>5 kg NDNE Cylinder with SC valve Rs. 350 INR per cylinder</li>
								<li>Pressure Regulator (PR) Rs. 150 per PR ( for North East Rs .100)</li>
								As per the rules laid down by Department of Explosives, LPG can be stored up to 100 Kgs without an explosive license in unconnected cylinders. Hence, in case your requirement is up to 100 Kgs you can have a gas connection from your nearest Indane dealer for your industrial / commercial usage. 
							</ol>
						</div>
						
						<h3><li>How can I buy bulk LPG?</li></h3>
						<div>
							In case you require bulk LPG for your industrial/ commercial uses, you may contact the nearest Indane Area Office for necessary assistance.
						</div>
						
						<h3><li> What are high thermal efficient LPG stove and what are the advantages of high thermal efficient LPG stoves marketed by Indane  distributors?</li></h3>
					</div>
				</ol>
            </div>
        </div>
        
    </div>