#{extends 'main.html' /} #{set title:'Account' /}
<!-- This page will serve as a page where the customer enters his password and retrives his account -->

#{form @AccountController.helpPassword()}
<div class="content" align="left">
	<div class="bread">
		<div class="width">
			<a href="#">Home</a><span>>></span><a href="#">Account</a><span>>></span><strong>Retrieve
				Account</strong>
		</div><br>
		
			<!-- Creating a textbox to get ttthe mail id of the user to send a system generated password to him -->
			<div class="width">
			<div class="colR">
				<div class="breadth">
					<table>
					<tr>
					Retrieve Account : Please Check your mail for the password once you have submitted
					<br /></tr>
					<td>
					<span class="label"> <label for="gasConnectionNumber">GasConnection
							Number</label>
					</span> <span class="error"><font size="2" color=blue>#{error 'gasConnectionNumber' /}</font>
					</span> <input type="text" value="${flash.gasConnectionNumber}"
						name="gasConnectionNumber" id="" /><br></td>
					<td>		
					<br> <span class="label"> <label for="email">E-Mail</label>
					</span> <span class="error"><font size="2" color=blue>#{error 'email' /}</font>
					</span> <input type="text" value="${flash.email}" name="email"
						id="" /> <br> </td>
				</table>
				<input type="submit" name="submit"
						value="submit" />
				</div>
			</div>
		</div>
	</div>
</div>
#{/ form }