#{extends 'dealer.html' /}
#{set title:'Fresh Migration' /}


    <div class="content">
    	
        <div class="cont">
        	<div class="width">
            	<div class="col620">
                	<h2 style="margin-bottom:-10px;">Local Area </h2>
                    <div class="info">
                    <div class="bread">
					</div>					
                    
			
		</div>
                    <div class="contFrm">
                		<h5>Location change </h5>
                        <div class="form">
                        	<div class="fltL">
                            	<span class="label"><span class="red">*</span>Name</span>
	                            <input type="text" value="" />
                            </div>
							
							<div class="fltR">
                            	<span class="label"><span class="red">*</span>Previous Dealer ID</span>
	                            <input type="text" value="" />
                            </div>
							
                            <div class="cls"></div>
                            <div class="fltL">
                            	<span class="label"><span class="red">*</span>Gas Connection ID</span>
	                            <input type="text" value="" />
                            </div>
							
							<div class="fltR">
                            	<span class="label"><span class="red">*</span>City</span>
	                            <input type="text" value="" />
                            </div>
							
                            <div class="cls"></div>
                            <span class="label"><span class="red">*</span>New Address</span>
                            <textarea rows="3" cols="1"></textarea>

							
                            <a href="#" class="button fltR"><span><span>Approve</span></span></a>
                            <div class="cls"></div>
                        </div>
                    </div>
                </div>
			  
                </div>
                <div class="cls"></div>
            </div>
        </div>
        
    </div>
    

				</html>