#{extends 'main.html' /}
#{set title:'Gas Rules' /}

<div class="content">
    	<div class="bread">
        	<div class="width">
            	<a href="#">Home</a><span>>></span><strong>Gas Rules</strong>
            </div>
        </div>
        <div class="check">
        	<div class="width">
            	<h2 style="margin-bottom:40px;">Gas Cylinder	 Rules</h2>
            	<div class="cls"></div>
				<div>

	

    <div class="panel padding10px">

   	<table width="100%">
    	<tr>
        	<td>
            	<strong>In exercise of the powers conferred by sections 5 and 7 of the Explosives Act, 1884 (4 of 1884) and in suppression of the Gas Cylinders Rules, 1981, except in respect things done or omitted to be done before such super-session, the Central Government hereby nukes the following rules, namely:</strong>
				<p>
                	<ol>
                    	<li>
                        	<strong>Short title and commencement.</strong>
                            <ol>
								<li>These rules may be called the Gas Cylinders Rules, 2004.</li>
                                <li>They shall come into force on the date of their publication in the Official Gazette.</li>
                            </ol>

                        </li>
                        <li>
                        	<strong>Definitions.</strong>
                            <br />
                            In these rules, unless the context otherwise requires, -
                            <ol>

                            	<li>"Act" means the Explosives Act, 1884 (4 of 1884);</li>

                                <li>"Auto LPG" means liquefied petroleum gas meant for automotive fuel conforming to specification IS:14861;</li>

                                <li>"Chief Controller" means the Chief Controller of Explosives, Government of India;</li>

                                <li>"composite cylinder" means a cylinder made of resin impregnated continuous filament wound over a metallic or a non-metallic liner. Composite cylinders using non-metallic liners are referred to as all-composite cylinders;</li>

                                <li>"compressed gas" means any permanent gas, liquefiable gas or gas dissolved in liquid under pressure or gas mixture which in a closed gas cylinder exercises a pressure either exceeding 2.5 kgf/cm2 abs (1.5 kgf/ cm2 gauge) at +15degree C or a pressure exceeding 3kgf/ cm2 abs (2 kgf/ cm2 gauge) at + 50degree C or both;

                                <br />

                                <strong>Explanation</strong> - Hydrogen Fluoride falls within the scope of compressed gas although its vapour pressure at 50degree C is 1.7 to 1.8 atmospheric gauge;

                                </li>

                                 <li>"Conservator" in relation to a port includes any person acting under the authority of the officer or body of person appointed to be Conservator of that port under Section 7 of the Indian Ports Act, 1908 (15 of 1908);</li>

                                 <li>"Controller" includes the Joint Chief Controller of Explosives, the Deputy Chief Controller of Explosives, the Controller of Explosives and the Deputy Controller of Explosives;</li>

                                 <li>

                                 	"Compressed Natural Gas (CNG)" means mixtures of hydrocarbon gases and vapours, consisting mainly of Methane in gaseous form, which has been

compressed for use as automotive fuel;

                                 </li>

                                 <li>"CNG mother station" means CNG facilities connected with natural gas pipeline and having a compressor meant primarily to fill mobile cascades of daughter station. Such stations may also have stationery cascade for CNG dispensing to vehicles;</li>

                                 <li>

                                 	"CNG online station" means CNG facilities connected with natural gas pipeline and having a compressor primarily to fill stationary cascades for dispensing CNG to vehicles;                                  
								 </li>

                                 <li>
                                  	"CNG daughter station" means CNG facilities not connected to natural gas pipeline. Such CNG dispensing station receives CNG through mobile cascade;
								 </li>

                                 <li>
                                 	"critical temperature" means the temperature above which gas cannot be liquefied by the application of pressure alone;
                                 </li>

                                 <li>

                                  	"dissolved acetylene cylinder" means a cylinder having a valve and with or without safety devices, containing a porous mass, a solvent for the storage of dissolved acetylene and at least sufficient acetylene to saturate the solvent at atmospheric pressure and at a temperature of +15degree C;

                                    <br />

                                    <strong>Explanation</strong>. Acetone or any other solvent used shall not be capable of chemical reaction with the acetylene gas or with the porous mass or with the metal of the cylinder or valve;

                                 </li>

                                 <li>
                                 	"dissolved gas" means a gas which under pressure is dissolved in a fluid solvent appropriate to the particular gas as for example, acetylene in acetone or ammonia in water;
                                 </li>

                                 <li>
                                 	"district authority" means
                                    	<ol>
                                        <li>a Commissioner of Police or Deputy Commissioner of Police in any town having a Commissioner of Police; and</li>
                                        <li>in any other place, the District Magistrate;</li>
                                        </ol>
                                 </li>

                                 <li>"District Magistrate" includes an Additional District Magistrate, and in the States of Punjab and Haryana and in the Karaikal, Mahe and Yanam areas of the Union Territory of Pondicherry, also includes a Sub-Divisional Magistrate;</li>

                                 <li>"filling pressure" means the maximum permissible gauge pressure, converted to + 15degree C, at which a gas cylinder for permanent gas or gas dissolved under pressure can be filled;</li>

                                 <li>"filling ratio" means the ratio of the weight of a liquefiable gas introduced in the cylinder to the weight of the water the cylinders will hold at 15degreeC;</li>

                                 <li>"flammable gas" means any gas which, if either a mixture of 13 per cent or less (by volume) with air forms a flammable mixture or the flammability range with air is greater than 12 per cent regardless of the lower limit and these limits shall be determined at atmospheric temperature and pressure;

                                 <br />

                                 <strong>Explanation</strong>."flammability range" means the difference between the minimum and maximum percentages by volume of the gas in mixture with air that forms a flammable mixture;
                                 </li>

                                 <li>
                                 	"Form" means a Form set forth in Schedule V;
                                 </li>

                                 <li>
                                 	"Gas Cylinder" or "Cylinder" means any closed metal container having a volume exceeding 500 ml but not exceeding 1000 litres intended for the storage and transport of compressed gas, including any liquefied petroleum gas (LPG) container/compressed natural gas (CNG) cylinder fitted to a motor vehicle as its fuel tank but not including any other such container fitted to a special transport or under-carriage and includes a composite cylinder, however, the water capacity of cylinders used for storage of CNG, nitrogen, compressed air, etc. may exceed 1000 litres up to 2500 litres provided the dia meter of such cylinderdoes not exceed 60 cm;
                                 </li>

                                 <li>
                                 	"high pressure liquefiable gas" means a liquefiable gas having a critical temperature between - 10degree C and + 70degree C;
                                 </li>

                                 <li>
                                 	"hydrostatic stretch test" means subjecting the cylinder to a hydrostatic pressure equal to the test pressure of the cylinder and recording the permanent stretch undergone by the cylinder;
                                 </li>

                                 <li>
                                 	"hydrostatic test" means the test to which a cylinder is subjected to a hydrostatic pressure equal to the test pressure of the cylinder;
                                 </li>

                                 <li>
                                 	"import" means bringing into India by land, sea or air;
                                 </li>

                                 <li>
                                 	"inert gas" means a gas which is resistant to chemical action under normally encountered conditions;
                                 </li>

                                 <li>
                                 	"inspecting authority" means a person having qualifications and wide experience in the field of design, manufacture and testing of gas cylinders and recognised by the Chief Controller as authority for inspection and certification of gas cylinder;
                                 </li>

                                 <li>
                                 	"installation" means any premises wherein any place has been specially prepared for the manufacture (filling) or storage of compressed gas cylinders;
                                 </li>

                                 <li>
                                 	"liquefiable gas" means a gas that may be liquefied by pressure at -10degree C but will be completely vaporised when in equilibrium with normal atmospheric pressure (760 mm. Hg) at 17.5degreeC which value shall be increased to 30degreeC for toxic gases;
                                 </li>

                                 <li>
                                 	"liquified petroleum gas" means any material, which comprises predominantly of any of the following hydrocarbons or mixture of them with vapour pressure not exceeding 16.87 kg/cm2 (gauge) at 65degree C:
									<ul>
                                    <li>Propane (C3H8), propylene (C3H6), butane ((C4H10), (n-butane and isobutane) and butylene (C4H8);</li>
                                    </ul>

                                 </li>

                                 <li>
                                 	"low pressure liquefiable gas" means a liquefiable gas having critical temperature higher than +70degreeC;
                                 </li>

                                 <li>
                                 	"manufacture of gas" means filling of a cylinder with any compressed gas and also includes transfer of compressed gas from one cylinder to any other cylinder;
                                 </li>

                                 <li>
                                 	"oxidizing gas" means a gas which gives up Oxygen readily or removes hydrogen from a compound or attracts negative electrons;
                                 </li>

                                 <li>
                                 	"permanent gas" means a gas whose critical temperature is below -10degreeC that is to say a gas which cannot be liquefied under any pressure at a temperature above -10degreeC;
                                 </li>

                                 <li>
                                 	"poisonous (toxic) gas" a gas which has a maximum allowable concentration in air for human respiration not exceeding 100 mg/m3 at 15degreeC and 1 kgf/cm2 absolute pressure;
                                 </li>

                                 <li>
                                 	"Schedule" means the Schedule annexed to these rules;
                                 </li>

                                 <li>
                                 	"tare weight" in relation to 
                                    <ol>
                                    <li>acetylene cylinder means the weight of the cylinder together with any fittings, permanently attached and includes the weight of valve any safety device, porous mass, requisite quantity of solvent for dissolving acetylene, and the weight of acetylene gas saturating the solvent at atmospheric pressure and temperature of 15degree C;</li>
										<li>
                                        liquefiable gas cylinder means the weight of the cylinder together with any fittings permanently attached thereto and includes the weight of valve;
                                        </li>

                                        <li>
                                        	permanent gas cylinder means the weight of the cylinder together with any fittings permanently attached thereto and excludes the weight of valve;
                                        </li>
                                    </ol>
                                 </li>

                                 <li>
                                 	"test pressure" means the internal pressure required for the hydrostatic test or hydrostatic stretch test of the cylinder, as follows:
									<ol>
                                    <li>For permanent and high pressure liquefiable gases, it should be calculated from the following:

										<br />

                                        where

                                        <br />

                                        Ph = Test pressure in kgf/cm2

                                        <br />

                                        Do= Outside diameter of the cylinder in mm.

                                        <br />

                                        t = Minimum calculated wall thickness of the cylinder shell in mm.

                                        <br />

                                        Re= Minimum specified yield strength of the material of cylinder in kgf/mm2, it is limited to 75 per cent of the minimum value of the tensile strength in the case of normalised cylinder and 85 per cent of the minimum value of the tensile strength for quenched and tempered cylinder, provided that the value of test pressure shall not exceed 80 per cent of the yield strength.
										</li>

                                        <li>
                                        	For low pressure liquefiable gas - One and a half times the saturated vapour pressure of the gas at 65degreeC or as specified in IS:8867, whichever is higher;
                                        </li>
                                    </ol>
                                 </li>

                                 <li>
                                 	"transport" means the moving of a cylinder filled with any compressed gas from one place to another;
                                 </li>

                                 <li>
                                 "water capacity" means the volume of water in litres, a cylinder will hold at 15degreeC.;
                                 </li>

                                 <li>
                                 	"working pressure for low pressure liquefiable gas" means the saturated vapour pressure at 65degreeC;<br />
									<strong>Explanation</strong>. The values of saturated vapour pressure of different gases are specified in IS:3710;

                                 </li>

                                 <li>
                                 	"working pressure for permanent gas" means the internal pressure of the gas in the cylinder at a temperature of 15 C;
                                 </li>
                                 <li>
                                 	"yield strength" means the stress corresponding to a permanent strain of 0.2 per cent of the original gauge length in a tensile test. For practical purpose it may be taken as a stress at which elongation first occurs in the test piece without the increase of load in a tensile test.
                                 </li>
                            </ol>
                        </li>
                    </ol>
                </p>

                <p style="text-align:right;">

                	<a href="http://peso.gov.in/Gas_cyl_Rules.aspx" target="_blank">More Detail</a>

                </p>

            </td>

        </tr>

    </table>

    </div>

</div>        

            </div>
        </div>
        
    </div>